@using OqtaneSSR.Client.Models

<div style="width: 100%; border-width: 1px; border-style: dashed; border-color: gray;">
	<div style="text-align: center;"><small>(Module: @ModuleState.ModuleType)</small></div>
	<div style="text-align: center;"><small>(Render Mode: @ModuleState.RenderMode)</small></div>
	@if (ModuleState.RenderMode == "InteractiveServer")
	{
		<DynamicComponent Type="@_type" @rendermode="RenderMode.InteractiveServer"></DynamicComponent>
	}
	@if (ModuleState.RenderMode == "InteractiveWebAssembly")
	{
		<DynamicComponent Type="@_type" @rendermode="RenderMode.InteractiveWebAssembly"></DynamicComponent>
	}
	@if (ModuleState.RenderMode == "InteractiveAuto")
	{
		<DynamicComponent Type="@_type" @rendermode="RenderMode.InteractiveAuto"></DynamicComponent>
	}
	@if (ModuleState.RenderMode == "Server")
	{
		<DynamicComponent Type="@_type"></DynamicComponent>
	}
</div>

@code {
	private Type _type { get; set; }

	[CascadingParameter]
	protected PageState PageState { get; set; }

	[CascadingParameter]
	private Module ModuleState { get; set; }

	protected override void OnParametersSet()
	{
		_type = Type.GetType(ModuleState.ModuleType);
	}
}
